<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="images/icon/Asset 1.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="css/css.css">
    <title>ພັດທະນາຄາເຟ</title>
</head>
<body>
    <div id="block1" class="d-block position-relative">
        <div class="d-flex justify-content-center pt-3">
            <div class="d-block">
                <img src="images/icon/Asset 1.png" alt="logo" width="90px">
            </div>
            <div class="d-block">
                <span class="fs-1 fw-bold text-dark px-3">ພັດທະນາ ຄາເຟ</span><br>
                <span class="fs-3 text-success px-3">ຍິນດີຕ້ອນຮັບ</span>
            </div>
        </div>
        <div class="position-absolute bottom-0 start-0 mb-3">
            <div class="container-fluid">
                <span class="fs-3 text-bg-success">ເປີດທຸກໆ ເສົາ-ທິດ</span><br>
            </div>
           
        </div>
    </div>
    <div id="block2" class="d-block position-relative">
        <div class="group-menu mb-3">
            <div class="head-menu ps-3">
                <div class="container-fluid">
                    <i class="fa-solid fa-burger fs-3"></i>
                    <span class="fs-3">ເມນູອາຫານ</span>
                    
                </div>
            </div>
            <!-- display food menu -->
            <div class="menu-area mt-2 p-2">
                <div class="container-fluid">
                    <table style="width: 100%;">
                        <% if(product.length > 0){ %>
                            <% for(let i=0; i < product.length; i++){ %>

                                <!--display food menu status = 1 -->
                                <% if(product[i].type == 'food' && product[i].status == 1){ %>
                                    <tr>
                                        <td><%= product[i].name %></td>
                                        <td><%= new Intl.NumberFormat('en-IN', { maximumSignificantDigits: 3 }).format(product[i].price) %> ກີບ/ <%= product[i].unit %></td>
                                    </tr>
                                <% } %>
                                <!--display food menu status = 0 -->
                                <% if(product[i].type == 'food' && product[i].status == 0){ %>
                                    <tr>
                                        <td class="text-danger"><%= product[i].name %></td>
                                        <td class="text-danger"><%= new Intl.NumberFormat('en-IN', { maximumSignificantDigits: 3 }).format(product[i].price) %> ກີບ/ <%= product[i].unit %></td>
                                        <td class="text-danger">(ເບິດແລ້ວ)</td>
                                    </tr>
                                <% } %>
                            <% } %>
                        <% } %>
                    </table>
                </div>
            </div>
        </div>
        <!--________________________________________-->
        <!-- display drinks menu -->
        <div class="group-menu mb-3">
            <div class="head-menu p-1">
                <div class="container-fluid">
                    <i class="fa-solid fa-martini-glass fs-2"></i>
                    <span class="fs-3">ເມນູເຄື່ອງດື່ມ</span>
                </div>
            </div>
            <div class="menu-area mt-2 ps-2">
                <div class="container-fluid">
                    <table style="width: 100%;">
                        <% if(product.length > 0){ %>
                            <% for(let i=0; i < product.length; i++){ %>

                                <!--display drink menu status = 1 -->
                                <% if(product[i].type == 'drinks' && product[i].status == 1){ %>
                                    <tr>
                                        <td><%= product[i].name %></td>
                                        <td><%= new Intl.NumberFormat('en-IN', { maximumSignificantDigits: 3 }).format(product[i].price) %> ກີບ/ <%= product[i].unit %></td>
                                    </tr>
                                <% } %>
                                <!--display drinks menu status = 0 -->
                                <% if(product[i].type == 'drinks' && product[i].status == 0){ %>
                                    <tr>
                                        <td class="text-danger"><%= product[i].name %></td>
                                        <td class="text-danger"><%= new Intl.NumberFormat('en-IN', { maximumSignificantDigits: 3 }).format(product[i].price) %> ກີບ/ <%= product[i].unit %></td>
                                        <td class="text-danger">(ເບິດແລ້ວ)</td>
                                    </tr>
                                <% } %>
                            <% } %>
                        <% } %>
                    </table>
                </div>
            </div>
        </div>
        <hr class="text-danger">
        <div class="row align-items-start">
            <div class="col">
                <div class="bg-warning">
                    <div class="container-fluid">
                        <i class="fa-solid fa-burger fs-3"></i>
                        <span class="fs-3">ເມນູອາຫານ</span>
                    </div>
                    <div class="container-fluid">
                        <table style="width: 100%;">
                            <% if(product.length > 0){ %>
                                <% for(let i=0; i < product.length; i++){ %>
    
                                    <!--display food menu status = 1 -->
                                    <% if(product[i].type == 'food' && product[i].status == 1){ %>
                                        <tr>
                                            <td><%= product[i].name %></td>
                                            <td><%= new Intl.NumberFormat('en-IN', { maximumSignificantDigits: 3 }).format(product[i].price) %></td>
                                        </tr>
                                    <% } %>
                                    <!--display food menu status = 0 -->
                                    <% if(product[i].type == 'food' && product[i].status == 0){ %>
                                        <tr>
                                            <td class="text-danger"><%= product[i].name %></td>
                                            <td class="text-danger"><%= new Intl.NumberFormat('en-IN', { maximumSignificantDigits: 3 }).format(product[i].price) %></td>
                                        </tr>
                                    <% } %>
                                <% } %>
                            <% } %>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="bg-warning">
                    <div class="container-fluid">
                        <i class="fa-solid fa-burger fs-3"></i>
                        <span class="fs-3">ເມນູອາຫານ</span>
                    </div>
                    <div class="container-fluid">
                        <table style="width: 100%;">
                            <% if(product.length > 0){ %>
                                <% for(let i=0; i < product.length; i++){ %>
    
                                    <!--display drink menu status = 1 -->
                                    <% if(product[i].type == 'drinks' && product[i].status == 1){ %>
                                        <tr>
                                            <td><%= product[i].name %></td>
                                            <td><%= new Intl.NumberFormat('en-IN', { maximumSignificantDigits: 3 }).format(product[i].price) %></td>
                                        </tr>
                                    <% } %>
                                    <!--display drinks menu status = 0 -->
                                    <% if(product[i].type == 'drinks' && product[i].status == 0){ %>
                                        <tr>
                                            <td class="text-danger"><%= product[i].name %></td>
                                            <td class="text-danger"><%= new Intl.NumberFormat('en-IN', { maximumSignificantDigits: 3 }).format(product[i].price) %></td>
                                        </tr>
                                    <% } %>
                                <% } %>
                            <% } %>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <hr class="text-danger">
        <div class="row align-items-start">
            <div class="col">
                <div class="">
                    <div class="container-fluid bg-warning">
                        <i class="fa-solid fa-burger fs-3"></i>
                        <span class="fs-3">ເມນູອາຫານ</span>
                    </div>
                    <br>
                    <div class="container-fluid">
                        <table style="width: 100%;color: gold;">
                            <% if(product.length > 0){ %>
                                <% for(let i=0; i < product.length; i++){ %>
    
                                    <!--display food menu status = 1 -->
                                    <% if(product[i].type == 'food' && product[i].status == 1){ %>
                                        <tr>
                                            <td><%= product[i].name %></td>
                                            <td><%= new Intl.NumberFormat('en-IN', { maximumSignificantDigits: 3 }).format(product[i].price) %></td>
                                        </tr>
                                    <% } %>
                                    <!--display food menu status = 0 -->
                                    <% if(product[i].type == 'food' && product[i].status == 0){ %>
                                        <tr>
                                            <td class="text-danger"><%= product[i].name %></td>
                                            <td class="text-danger"><%= new Intl.NumberFormat('en-IN', { maximumSignificantDigits: 3 }).format(product[i].price) %></td>
                                        </tr>
                                    <% } %>
                                <% } %>
                            <% } %>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="">
                    <div class="container-fluid bg-warning">
                        <i class="fa-solid fa-burger fs-3"></i>
                        <span class="fs-3">ເມນູອາຫານ</span>
                    </div>
                    <br>
                    <div class="container-fluid">
                        <table style="width: 100%;color: gold;">
                            <% if(product.length > 0){ %>
                                <% for(let i=0; i < product.length; i++){ %>
    
                                    <!--display drink menu status = 1 -->
                                    <% if(product[i].type == 'drinks' && product[i].status == 1){ %>
                                        <tr>
                                            <td><%= product[i].name %></td>
                                            <td><%= new Intl.NumberFormat('en-IN', { maximumSignificantDigits: 3 }).format(product[i].price) %></td>
                                        </tr>
                                    <% } %>
                                    <!--display drinks menu status = 0 -->
                                    <% if(product[i].type == 'drinks' && product[i].status == 0){ %>
                                        <tr>
                                            <td class="text-danger"><%= product[i].name %></td>
                                            <td class="text-danger"><%= new Intl.NumberFormat('en-IN', { maximumSignificantDigits: 3 }).format(product[i].price) %></td>
                                        </tr>
                                    <% } %>
                                <% } %>
                            <% } %>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <div class="text-center text-danger pb-1">
            <hr>
            <span>ຂອບໃຈລູກຄ້າທີ່ອຸດໜູນ</span><br>
            <span>52446666 - ແຫຼ້</span>
            <hr>
        </div>
    </div>
    <footer>
        <div class="container-fluid p-2">
            <span>@copyright -2023 : monDev</span><br>
            <span>ຮັບພັດທະນາເວັບໄຊ້ຂະໜາດນ້ອຍ-ກາງ</span><br>  
            <span>whatapp: 56388013</span><br>
            <span>soulixai.vls@gmail.com</span><br>
            <a  href="/adminMenu">link for admin</a>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>